<script lang="ts">
	import { getContext } from 'svelte';
	import { projKey } from './context';
	import { currentLocation, currentLocationID } from '../../../stores/locations';

	export let coordinates: number[];
	export let id: number;

	const projContext = getContext(projKey);
	let projection = projContext.getProj();

	$: cx = $projection(coordinates)[0];
	$: cy = $projection(coordinates)[1];
</script>

<circle
	role="button"
	tabindex="0"
	on:keydown={() => {
		currentLocationID.set(id);
	}}
	on:click={() => {
		currentLocationID.set(id);
	}}
	class:active={id === $currentLocationID}
	{cx}
	{cy}
	r="5"
/>

<style>
	circle {
		fill: #000;
		stroke: white;
		stroke-width: 2px;
		cursor: pointer;
		outline: none;
	}

	circle.active {
		fill: #f00;
	}
</style>
