<script lang="ts">
	import { getContext } from 'svelte';
	import { projKey } from './context';
	import { geoPath } from 'd3-geo';

	export let coordinates: any;

	const projContext = getContext(projKey);
	let projection = projContext.getProj();

	$: calculatedPath = geoPath().projection($projection)(coordinates);
	console.log('calculatedPath', $calculatedPath);
</script>

<path d={calculatedPath} />

<style>
	path {
		fill: transparent;
		stroke: rgb(28, 146, 206);
		stroke-width: 1px;
	}
</style>
