<script lang="ts">
	import { getContext, onDestroy } from 'svelte';
	import { mapKey } from './context';
	import maplibre from 'maplibre-gl';
	import { currentLocationID } from '../../../stores/locations';

	export let coordinates: number[];
	export let id: number;

	const mapContext = getContext(mapKey);
	const map = mapContext.getMap();

	const marker = new maplibre.Marker({ color: '#fff' }).setLngLat(coordinates).addTo(map);

	marker.getElement().addEventListener('click', () => {
		currentLocationID.set(id);
	});

	$: marker.setLngLat(coordinates);
	$: {
		const element = marker.getElement().querySelector('path');
		if (id == $currentLocationID) {
			element.setAttribute('fill', '#f00');
		} else {
			element.setAttribute('fill', '#fff');
		}
	}

	onDestroy(() => {
		marker.remove();
	});
</script>

<slot />
