<script lang="ts">
	import { onDestroy, onMount, setContext } from 'svelte';
	import { mapKey } from './context';
	import maplibre from 'maplibre-gl';
	import 'maplibre-gl/dist/maplibre-gl.css';
	import { PUBLIC_MAPTILER_KEY } from '$env/static/public';

	export let map: any = null;

	setContext(mapKey, {
		getMap: () => map
	});

	let container;

	onMount(async () => {
		map = new maplibre.Map({
			center: [13.3727, 52.6098],
			zoom: 9,
			container: 'ml-map',
			style: `https://api.maptiler.com/maps/streets-v2/style.json?key=${PUBLIC_MAPTILER_KEY}`
		});
	});

	onDestroy(async () => {
		if (map) {
			map.remove();
			map = null;
		}
	});
</script>

<div id="ml-map" bind:this={container}>
	{#if map}
		<slot />
	{/if}
</div>

<style>
	#ml-map {
		width: 100%;
		height: 100%;
		position: relative;
	}
</style>
