<script>
	import '../styles.css';
</script>

<svelte:head>
	<title>Web Mapping Frameworks</title>
</svelte:head>

<header>
	<h1>Web Mapping Frameworks</h1>

	<nav>
		<a href="/search">Search</a>
		<a href="/watchlist">Watchlist</a>
		<a href="/login">Log in</a>
	</nav>
</header>

<main>
	<slot />
</main>

<style>
	header {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		background-color: #222;
		color: white;
	}
	header h1 {
		margin: 0;
	}
</style>
