<script lang="ts">
	import Details from '$lib/components/Details.svelte';
	import Map from '$lib/components/Map.svelte';
	import Table from '$lib/components/Table.svelte';
	import { loaded, locations, currentLocationID } from '../stores/locations';
</script>

{#if $loaded}
	<div class="page">
		<div id="sidebar">
			{#if currentLocationID}
				<Details />
			{/if}
			<Table />
		</div>
		<div id="map-container">
			<Map mapType="maplibre" />
		</div>
	</div>
{:else}
	Loading...
{/if}

<style>
	.page {
		display: flex;
	}
</style>
