* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
--color-primary: #c787e3;
--color-grey: #333;
--color-grey-dark: #222;
--color-grey-bright: #616161;
}

body {
  background-color: #333;
  color: white;
}

a {
  color:var(--color-primary)
}