<script lang="ts">
	import { loaded, locations, currentLocationID, currentLocation } from '../../stores/locations';
</script>

{#if $loaded && $locations.length > 0 && $currentLocationID}
	<div class="details">
		<div class="details__content">
			<h2>{$currentLocation?.Name}</h2>
			<div>{@html $currentLocation?.description}</div>
		</div>
		<div>
			<button
				class="details__close"
				on:click={() => {
					currentLocationID.set(null);
				}}>x</button
			>
		</div>
	</div>
{/if}

<style>
	.details {
		padding: 20px;
		display: flex;
	}

	.details h2 {
		margin-top: 0;
	}

	.details__close {
		padding: 5px 10px;
		background: #222;
		border: 1px solid #5c5c5c;
		color: #eee;
		cursor: pointer;
		border-radius: 5px;
	}

	.details__close:hover {
		background-color: #616161;
	}
</style>
