<script lang="ts">
	import { onMount } from 'svelte';
	import D3Map from './maps/D3Map.svelte';
	import D3Marker from './maps/D3Marker.svelte';
	import D3Polygon from './maps/D3Polygon.svelte';
	import MlMap from './maps/MLMap.svelte';
	import { loaded, locations } from '../../stores/locations';
	import MlMarker from './maps/MLMarker.svelte';

	let pathGeoms;

	onMount(async () => {
		pathGeoms = await fetch('http://localhost:5173/data/brandenburg-84.geojson').then((data) =>
			data.json()
		);
	});

	export let mapType: 'D3' | 'maplibre';
</script>

{#if $loaded && $locations.length > 0}
	{#if mapType === 'D3'}
		<D3Map>
			<D3Polygon coordinates="pathGeoms" />
			{#each $locations as location, lindex}
				<D3Marker coordinates={location.coordinates} id={lindex} />
			{/each}
		</D3Map>
	{/if}
	{#if mapType === 'maplibre'}
		<MlMap>
			{#each $locations as location, lindex}
				<MlMarker coordinates={location.coordinates} id={lindex} />
			{/each}
		</MlMap>
	{/if}
{/if}
