<script lang="ts">
	import { loaded, locations, currentLocationID } from '../../stores/locations';
</script>

<table class="table" cellpadding="0" cellspacing="0">
	<thead class="table-head">
		<tr>
			<th>Rating</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody class="table-body">
		{#if $loaded && $locations.length > 0}
			{#each $locations as location, lindex}
				<tr
					on:click={() => {
						currentLocationID.set(lindex);
						console.log($currentLocationID);
					}}
					class:row-selected={lindex === $currentLocationID}
				>
					<td>
						{location.rating}
					</td>
					<td>
						{location.Name}
					</td>
				</tr>
			{/each}
		{/if}
	</tbody>
	<tfoot>
		<tr>
			<th>Rating</th>
			<th>Name</th>
		</tr>
	</tfoot>
</table>

<style>
	.table {
		margin: 20px;
	}
	.table-head {
		background: var(--color-grey-dark);
	}

	.table-head th,
	.table-body td {
		padding: 5px;
	}
	.table-body td {
		border-bottom: 1px solid var(--color-grey-dark);
	}
	.table-body tr {
		cursor: pointer;
	}
	.table-body tr:hover {
		background-color: var(--color-grey-bright);
		color: white;
	}
	.table-body .row-selected {
		background-color: var(--color-primary);
		color: black;
	}
</style>
